<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siddhant Shrivastav</title>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">

  <!-- Hero Section -->
  <section class="bg-gray-900 text-white py-20 w-full">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold">Siddhant Shrivastav</h1>
        <p class="mt-4">
Hey there! 👋 I'm a software engineer with a knack for building stuff, diving headfirst into complex problems, and unraveling the mysteries of the digital universe. 🚀 When I'm not elbow-deep in code, you'll probably find me lacing up my running shoes, strumming away on my guitar, or engaging in the timeless art of procrastination while pondering the profound question: What's the meaning of life, the universe, and everything? 🤔 Spoiler alert: it's probably 42, but I'm determined to find out for sure! 
        </p>
    </div>
  </section>

</body>
</html>

